body {
  margin: 0;
  padding: 0;
  background-color: hsl(0, 0%, 98%);
  font-family: "Lora", serif;
  color: hsl(0, 0%, 13%);
}

.page {
  padding: 1vmin;
  max-width: 800px;
  margin: auto;
  margin-bottom: 5vmin;
}

p {
  margin: 3vmin;
}

.big {
  font-size: 6.3vmin;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 5vmin;
  hyphens: auto;
}

.body {
  font-size: 4.33vmin;
  font-weight: 400;
  line-height: 1.4;
}

.rocket {
  text-align: center;
  cursor: crosshair;
}

.rocket .glyph.animate {
  animation: 7s rocket linear;
  display: inline-block;
}

@keyframes rocket {
  0% {
    transform: rotate(0deg);
  }
  7%,
  14% {
    /* rotated. hold before launch */
    transform: rotate(680deg);
  }
  19% {
    /* mini launch */
    transform: translateY(-20px) rotate(680deg);
  }
  25% {
    /* high in the sky */
    transform: translateY(-3000px) rotate(680deg);
    opacity: 1;
  }
  26% {
    /* hide */
    opacity: 0;
  }
  27% {
    /* high in the sky, rotated to be just 40degs off */
    transform: translateY(400px) rotate(-40deg);
    opacity: 0;
  }
  70%,
  75% {
    /* landed */
    opacity: 1;
    transform: rotate(-40deg);
  }
  90%,
  100% {
    /* initial position */
    transform: rotate(0deg);
  }
}

a {
  text-decoration: none;
  color: inherit;
  background: none;
  transition: color 300ms ease-out, background-color 300ms ease-out;
  box-shadow: 0 -1px rgba(0, 0, 0, 0.2) inset;
}

a:hover {
  background: hsl(0, 0%, 13%) !important;
  color: hsl(0, 0%, 98%) !important;
}

::selection {
  background: hsl(351, 85%, 82%);
}
